In [1]:
import pandas as pd
data = pd.read_csv('weather.csv')
data.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85  False   no
1     sunny           80        90   True   no
2  overcast           83        86  False  yes
3     rainy           70        96  False  yes
4     rainy           68        80  False  yes

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     int64
 2   humidity     14 non-null     int64
 3   windy        14 non-null     bool
 4   play         14 non-null     object
dtypes: bool(1), int64(2), object(2)
memory usage: 590.0+ bytes

In [3]:
data.groupby('outlook').size()

outlook
overcast    4
rainy       5
sunny       5
dtype: int64

In [4]:
data['outlook'] = data['outlook'].astype('category').cat.codes
data['windy'] = data['windy'].astype('category').cat.codes
data['play'] = data['play'].astype('category').cat.codes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     int8
 1   temperature  14 non-null     int64
 2   humidity     14 non-null     int64
 3   windy        14 non-null     int8
 4   play         14 non-null     int8
dtypes: int64(2), int8(3)
memory usage: 394.0 bytes

In [5]:
data.head(14)

    outlook  temperature  humidity  windy  play
0         2           85        85      0     0
1         2           80        90      1     0
2         0           83        86      0     1
3         1           70        96      0     1
4         1           68        80      0     1
5         1           65        70      1     0
6         0           64        65      1     1
7         2           72        95      0     0
8         2           69        70      0     1
9         1           75        80      0     1
10        2           75        70      1     1
11        0           72        90      1     1
12        0           81        75      0     1
13        1           71        91      1     0

In [6]:
X = data[['outlook','temperature','humidity','windy']]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     int8
 1   temperature  14 non-null     int64
 2   humidity     14 non-null     int64
 3   windy        14 non-null     int8
dtypes: int64(2), int8(2)
memory usage: 380.0 bytes

In [7]:
X.head(14)

    outlook  temperature  humidity  windy
0         2           85        85      0
1         2           80        90      1
2         0           83        86      0
3         1           70        96      0
4         1           68        80      0
5         1           65        70      1
6         0           64        65      1
7         2           72        95      0
8         2           69        70      0
9         1           75        80      0
10        2           75        70      1
11        0           72        90      1
12        0           81        75      0
13        1           71        91      1

In [8]:
y = data['play']
y.head(14)

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int8

In [9]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X,y)

GaussianNB()

In [10]:
from sklearn import metrics
predicted = clf.predict(X)
names = ['no', 'yes']
print(metrics.classification_report(y,predicted, target_names=names))

              precision    recall  f1-score   support

          no       0.80      0.80      0.80         5
         yes       0.89      0.89      0.89         9

    accuracy                           0.86        14
   macro avg       0.84      0.84      0.84        14
weighted avg       0.86      0.86      0.86        14

In [11]:
print(metrics.confusion_matrix(y,predicted))

[[4 1]
 [1 8]]

In [12]:
clf.score(X, y)

0.8571428571428571

In [13]:
clf.get_params()

{'priors': None, 'var_smoothing': 1e-09}